.pdiv{
    font-display: flex;
}
.labeldiv{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    display: flex;
    justify-content: center;
}
.buysell{
    display: flex;
    justify-content: space-around;
    
    
}
.ebs{
    border: solid;
    padding: 1.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 600%;
    border-radius: 10px;
    height: 20%;
    width: 30%;
}
.erate{
    font-size: 50%;
    margin-top: -10%;
}