
.navbtn{
height: 28px;
width: 28px;
top: 0;
right: 0; 
}
.navbar{
  display: flex;
  padding: 1rem;
  font-family: 'Advent Pro';
  align-content: right;
  top :0;
  left: 0;
  z-index: 100;
  justify-content: space-between;
}
.maindiv
{
  height: 100%;
  widows: 100%;
}