
.navbtn{
height: 28px;
width: 28px;
top: 0;
right: 0; 
}
.navbar{
  display: flex;
  padding: 1rem;
  font-family: 'Advent Pro';
  align-content: center;
  top :0;
  left: 0;
  z-index: 100;
}
.maindiv
{
  height: 100%;
  widows: 100%;
}