.side{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #565656;
    display: flex;
    flex-flow: column;
    z-index: 200;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    


}
.sideopen{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #565656;
    display: flex;
    flex-flow: column;
    z-index: 200;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}
.parent{
    height: 100%;
    width: 100%;
}

ul{
    transition: 1s;

}

li{
    list-style: none;
    font-size: 150%;
    text-decoration: none;
    transition: 1s;

  
}
li:hover{
    font-size:450%;

}
.navlinks{
}