.siinput{
    height: 400%;
    width: 60%;
    background: transparent;
    border-radius: 20px;
    border: solid;
    border-color: #565656;
    color: #565656;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    margin-bottom: -1%;
    display: flex;
justify-content: center;
}
.sibtn{
    height: 400%;
    width: 60%;
    background: #565656;
    border-radius: 20px;
    border: solid;
    border-color: #565656;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    margin-bottom: -1%;
    display: flex;
justify-content: center;
}
.siparent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%; 
    border: solid;
    border-color: #565656;
    padding-bottom: 4%;
    padding-top: 4%;
    align-self: center;
    height: 400%;
    width: 30%;
    margin-top: 4%;

}