.tlparent{
    background: #e0e0e023;
    border-radius: 20px;
    border: solid;
    border-color: #565656;
    color: #565656;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.tlparent:hover{
    background: #e0e0e023;
    border-radius: 20px;
    border: solid;
    border-color: #565656;
    color: #565656;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.tllabel{
    background: transparent;
    border-radius: 20px;
    border: solid;
    border-color: #565656;
    color: #565656;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    display: flex;
    width: 60%;
justify-content: center;
}
.tllabelheading{
    background: #565656;
    border-radius: 20px;
    border: solid;
    border-color: #565656;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    display: flex;
    width: 30%;
justify-content: center;
}
.tllabelcontainer{
    display: flex;
    justify-content: space-around;

}